<!DOCTYPE html>


<html>
    <head>

    </head>
    <body>

    <div>
        <img src="https://www.htl-leonding.at/uploads/pics/HTL_Abteilungsicons_mit_Textbalken_rgb_01.jpg" 
             align="left" alt="Abteilung Logo" height="90" width="360"/>
        <img src="http://www.htl-leonding.at/fileadmin/config/main/img/htlleondinglogo.png" 
             align="right" alt="HTL Leonding Logo"/>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div>
        <p>Sehr geehrte(r) @Model.Company.Contact.LastName,
        <br>
        <br>
        Ihre Anmeldung ist bei uns eingetroffen! Wir freuen uns Sehr das Sie sich dazu entschieden
        haben beim diesjährigen <b>Firmeninformationstag</b> in der <b><a href="http://www.htl-leonding.at/">HTL Leonding</a></b> Ihre Unternehmen vorzustellen!<br>
        </p>
        <p>Bei Fragen oder Anregungen können Sie uns jederzeit unter der Nr.: <a href="tel:+439999999">+43123456789</a> oder per E-Mail <a href="mailto:andi.sakal15@gmail.com">andi.sakal15@gmail.com</a> erreichen
        <br>
        <h3><b>Hier nochmal alle Informationen zusammengefasst</b></h3>
        <p> <b>Firmenname:</b> <a href="@Model.Company.Homepage">@Model.Company.Name</a><br>
            <b>Firmenbranche:</b> @Model.Company.Branch<br>
            <b>Firmenkontaktperson:</b> @Model.Company.Contact.LastName<br>
            <b>Gewähltes FIT-Paket:</b> @Model.FitPackage.Name -> @Model.FitPackage.Description</p><br>
        <br><br>
        <p> Mit freundlichen Grüßen <br><br> FirstName LastName - Ihr Ansprechpartner
        <br>
        <br>
    </div>

        <img src="http://www.absleo.at/typo3temp/_processed_/csm_absleo_logo_ohne_Rahmen_ba0c412e5a.png" alt="ABSLEO Logo"/>
    </body>
</html>
